{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>

                <li class="breadcrumb-item">
                    <a href="{% if current_user.email == 'admin@gmail.com' %}/dashboard_admin.html{% else %}/dashboard.html{% endif %}">
                        {% if current_user.email == 'admin@gmail.com' %}
                            Admin Dashboard
                        {% else %}
                            User Dashboard
                        {% endif %}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Account Information</h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="data-label">First Name</label>
                        <input class="form-control" id="first_name" type="text" value="Shafira" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Last Name</label>
                        <input class="form-control" id="last_name" type="text" value="Aulia" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Position</label>
                        <input class="form-control" id="position" type="text" value="Intern" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Role</label>
                        <input class="form-control" id="role" type="text" value="User" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Department</label>
                        <input class="form-control" id="department" type="text" value="IT" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Division</label>
                        <input class="form-control" id="division" type="text" value="Developer" readonly>
                    </div>
                </div>


                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Plant</label>
                        <input class="form-control" id="birthday" type="text" value="Jakarta" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Gender</label>
                        <input class="form-control" id="gender" type="text" value="{{ 'Male' if current_user.gender == '2' else 'Female' if current_user.gender == '1' else 'Not specified' }}" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Email</label>
                        <input class="form-control" id="email" type="text" value="{{ current_user.email }}" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="data-label">Phone</label>
                        <input class="form-control" id="phone" type="text" value="+62 838 9598 8764" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top" data-background="{{ config.ASSETS_ROOT }}/img/profile-cover.jpg"></div>
                        <div class="card-body pb-5">
                            <img src="{{ url_for('static', filename='assets/img/team/person.png') }}" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                Shafira Aulia
                            </h4>
                            <h5 class="fw-normal">
                                {{ current_user.username }}
                            </h5>
                            <p class="text-gray mb-4">
                                {{ current_user.email }}
                            </p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
