<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
              <div class="container-fluid px-0">
                <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
                  <div class="d-flex align-items-center">
                    <!-- Search form -->
                    <form class="navbar-search form-inline" id="navbar-search-main" action="{{ url_for('home_blueprint.search') }}" method="GET">
                      <div class="input-group input-group-merge search-bar">
                          <span class="input-group-text" id="topbar-addon">
                            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                          <input type="text" class="form-control" id="topbarInputIconLeft" name="q" placeholder="Search" aria-label="Search" aria-describedby="topbar-addon">
                      </div>
                    </form>
                    <!-- / Search form -->
                  </div>
                  <!-- Navbar links -->
                  <ul class="navbar-nav align-items-center">
                    <li class="nav-item dropdown ms-lg-3">
                      <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="media d-flex align-items-center">
                          <img class="avatar rounded-circle" alt="Image placeholder" src="{{ url_for('static', filename='assets/img/team/person.png') }}">
                          <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                            <span class="mb-0 font-small fw-bold text-gray-900">
                              <strong> {{ user.name or 'N/A' }}</strong>
                              <!-- Debug info - will be removed after fixing -->
                              <span style="display: none;">
                                User Data: {{ user }}
                              </span>
                            </span>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1">
                          <a class="dropdown-item d-flex align-items-center" href="/settings">
                              <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
                              </svg>
                              My Profile
                          </a>

                          <a class="dropdown-item d-flex align-items-center" href="/page-reset-password.html">
                              <svg class="dropdown-icon text-gray-400 me-2" fill="none" stroke="currentColor" stroke-width="2"
                                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 4v4m0 0a4 4 0 100 8 4 4 0 000-8zm0 4v4"/>
                              </svg>
                              Reset Password
                          </a>

                          <a class="dropdown-item d-flex align-items-center" href="/page-lock.html">
                              <svg class="me-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                   stroke-width="1.5" stroke="currentColor" style="width: 16px; height: 16px;">
                                  <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.5 10.5V6.75a4.5 4.5 0 00-9 0V10.5m11.25 0H4.5m13.5 0v8.25a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 18.75V10.5m13.5 0H4.5"/>
                              </svg>
                              Lock
                          </a>

                          <div role="separator" class="dropdown-divider my-1"></div>
                            <a class="dropdown-item d-flex align-items-center" href="#" onclick="confirmLogoutDropdown(event)">
                              <svg class="dropdown-icon text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                              </svg>
                              Logout
                            </a>
                        
                            <script>
                                function confirmLogoutDropdown(event) {
                                    event.preventDefault();
                                    if (confirm("Are you sure you want to log out?")) {
                                        window.location.href = "{{ url_for('authentication_blueprint.logout') }}";
                                    }
                                }
                            </script>
                        
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>